<% include partials/_header %>
 
        <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>N</th>
                    <th>ID</th>
                    <th>VALOR</th>
                    <th>CATEGORIA</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < measures.length;i++){ %>
                    
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= measures[i].id %></td>
                        <td><%= measures[i].valor %></td>
                        <td><%= measures[i].category %></td>
                    </tr>
                    
               <% } %>
            </tbody>

        </table>









<% include partials/_footer %>